<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>RightMenu Master</string>
	<key>CFBundleDisplayName</key>
	<string>RightMenu Master</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.rightmenu.master.commands</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rightmenumaster</string>
			</array>
		</dict>
	</array>
	<key>LSMinimumSystemVersion</key>
	<string>14.5</string>
	<key>NSHumanReadableCopyright</key>
	<string>MIT License</string>
	<key>LSUIElement</key>
	<true/>
</dict>
</plist>
