*.xcuserdata
*.xcworkspace/xcuserdata
DerivedData
*.xcbkptlist
*.xcscmblueprint
.DS_Store
.build
.artifacts
Packages
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
*.xcodeproj/project.xcworkspace/xcuserdata
